<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for FirebaseAdmin" Description="Code analysis rules for FirebaseAdmin." ToolsVersion="14.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="UseConfigureAwait" Action="Warning" />
    <Rule Id="AvoidAsyncSuffix" Action="None" />
    <Rule Id="UseAsyncSuffix" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1200" Action="None" /> <!-- Using clauses inside namespaces -->
    <Rule Id="SA1502" Action="None" /> <!-- Single-lined elements -->
    <Rule Id="SA1633" Action="None" /> <!-- Allow custom file header -->
  </Rules>
</RuleSet>
