name: Continuous Integration

on: pull_request

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        framework-version: [net462, net6.0]

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    - name: Install Mono
      run: |
        sudo apt update
        sudo apt install -y mono-complete

    - name: Install dependencies
      run: dotnet restore FirebaseAdmin/FirebaseAdmin.sln

    - name: Build with dotnet
      run: dotnet build FirebaseAdmin/FirebaseAdmin.sln --configuration Release --no-restore

    - name: Run unit tests
      run: |
        dotnet test FirebaseAdmin/FirebaseAdmin.Tests --configuration Release --no-restore --no-build --framework ${{ matrix.framework-version }}
