name: Continuous Integration

on: pull_request

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        framework-version: [net462, net6.0]

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
      with:
        dotnet-version: 6.0.x

    - name: Install Mono
      if: matrix.framework-version == 'net462'
      run: |
        sudo apt update
        sudo apt install -y mono-complete

    - name: Install dependencies
      run: dotnet restore FirebaseAdmin/FirebaseAdmin.sln

    - name: Build with dotnet
      run: dotnet build FirebaseAdmin/FirebaseAdmin.sln --configuration Release --no-restore

    - name: Run unit tests
      run: |
        dotnet test FirebaseAdmin/FirebaseAdmin.Tests --configuration Release --no-restore --no-build --framework ${{ matrix.framework-version }}
